<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
  <title>POCETNA</title>
  <script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

  <style type="text/css">
  	.well {
   background-color: rgba(0, 0, 0, 0.3);
}
  </style>
  <script src="js/app.js"></script>
<script src="js/ctrl.js"></script>
<script src="js/service.js"></script>
<script src="js/socketService.js"></script>
</head>
<body style="background-color:#FBFCC6" ng-controller='ctrl' ng-init="getRunning()">

<div ui-view></div>
&nbsp;


<div>
<div class="row container center">
<button class="btn btn-default" value="rest" id="rest" ng-click="radiRest()" >Rest</button>
 <!--  <button class="btn btn-default" value="websocket" onclick="soket()" id="websocket" >Websocket</button>-->
<button class="btn btn-default" value="websocket" ng-click="radiWebsocket();initSocket()" id="websocket" >Websocket</button>
   <div class="col-xs-offset-2">
   <button class="btn btn-success " data-toggle="modal" data-target="#myModal">Dodavanje agenta</button>
   
  
	 
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Dodavanje agenta</h4>
        </div>
        <div class="modal-body">
         	 <p><input type="text" name="imeAgenta" class="form-control" placeholder="Upisite ime agenta" required="required" ng-model="name"></p><br>
         	 <p>Izaberite tip agenta:
         	 	<select  name="tipAgenta" class="form-control" required="required" ng-model="type">
         	 		<option value="PING">Ping</option>
         	 		<option value="PONG">Pong</option>
         	 		<option value="MAPREDUCE">WordCounter</option>
         	 	</select>
         	 </p>
        </div>
        <div class="modal-footer">
          <a type="button" href="" class="btn btn-danger" data-dismiss="modal" ng-click="startAgent()">Dodaj</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
&nbsp;

<div class="row">
	<div class="col-xs-4 col-xs-offset-2">
		<div class="well">
		<h4><b><i>Slanje poruke</i></b></h4>
			<table>
				<tr>
     <td>Tip poruke</td>
     <td><select class="form-control" name="tipPoruke" ng-model="tipPoruke">
      <option value="0">ACCEPT_PROPOSAL</option>
      <option value="1">AGREE</option>
      <option value="2">CANCEL</option>
      <option value="3">CALL_FOR_PROPOSAL</option>
      <option value="4">CONFIRM</option>
      <option value="5">DISCONFIRM</option>
      <option value="6">FAILURE</option>
      <option value="7">INFORM</option>
      <option value="8">INFORM_IF</option>
      <option value="9">INFORM_REF</option>
      <option value="10">NOT_UNDERSTOOD</option>
      <option value="11">PROPAGATE</option>
      <option value="12">PROPOSE</option>
      <option value="13">PROXY</option>
      <option value="14">QUERY_IF</option>
      <option value="15">QUERY_REF</option>
      <option value="16">REFUSE</option>
      <option value="17">REJECT_PROPOSAL</option>
      <option value="18">REQUEST</option>
      <option value="19">REQUEST_WHEN</option>
      <option value="20">REQUEST_WHENEVER</option>
      <option value="21">SUBSCRIBE</option>
      
      
     </select>
       </td>
    </tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>Posiljalac: </td>
					<td>
						<select name="posiljalac" class="form-control" ng-model="sender">
							<option ng-repeat="agent in agents" value={{agent.aid.name}}>{{agent.aid.name}}</option>
							
						</select>
						
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>Primalac: </td>
					<td>
						<select name="primalac" class="form-control" ng-model="receivers">
							<option ng-repeat="agent in agents" value={{agent.aid.name}}>{{agent.aid.name}}</option>
						</select>
						
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>Sadrzaj:</td>
					<td><input class="form-control" type="text" name="sadrzajPoruke" placeholder="Unesite poruku" ng-model="content"></td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td></td>
					<td align="right"><a class="btn bg-success" ng-click="posaljiPoruku()">Posalji</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="well">
			<p><h4><i>Konzola</i></h4></p>
			<textarea style="background-color: white;" id="konzola" class="form-control" readonly="readonly" rows="12" cols="5"></textarea>
		</div>
	</div>

</div>
</body>
</html>
